<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Index</a>
</nav>

<main class="container" role="main">
  <div class="jumbotron">
    <h1>Ingrese los datos de la factura</h1>
    <%= form_tag(prueba_test_api_path, :method => "get") do %>
      <div class="form-row">
        <div class="form-group col">
          <label for="rutEmisor">Rut Emisor</label>
          <input type="text" class="form-control" id="rutEmisor" name="rutEmisor"placeholder="11111111-1">
        </div>
        <div class="form-group col">
          <label for="rutDeudor">Rut Deudor</label>
          <input type="text" class="form-control" id="rutDeudor" name="rutDeudor"placeholder="11111111-1">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="monto">Monto</label>
          <input type="number" class="form-control" id="monto" name="monto">
        </div>
        <div class="form-group col-md-4">
          <label for="folio">Folio</label>
          <input type="number" class="form-control" id="folio" name="folio">
        </div>
        <div class="form-group col-md-4">
          <label for="fechaVencimiento">Fecha de Vencimiento</label>
          <input type="date" class="form-control" id="fechaVencimiento" name="fechaVencimiento">
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-right">Enviar</button>
    <%end%>
  </div>
  <div class="container"></div>
</main>
<br><br>
